<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/test.css') }}">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </style>
</head>

<body style="background-color: #00F2D5">
	<nav class="navbar navbar-expand-md sticky-top">
		<a class="navbar-brand" href="/"><img src="/static/images/logo.png"></a>
  		<button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span><i class="fas fa-bars"></i></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
  			<ul class="navbar-nav ml-auto ">
  				<li class="nav-item">
  					<a href="/" class="nav-link">Home</a>
  				</li>
  				<li class="nav-item">
  					<a href="#" class="nav-link">Test</a>
  				</li>
  				<li class="nav-item">
  					<a href="/pneumonia" class="nav-link">Pneumonia</a>
  				</li>
  				<li class="nav-item">
  					<a href="#" class="nav-link">Training Process</a>
  				</li>
  			</ul>
  		</div>
	</nav>

	<div class="container-fluid">
      <div class="row">
          <div class="col-md-6" style="padding-left: 0%; padding-right: 0%" >
            <div class="cover">
                <img src="/static/images/picture.JPG" style="width: 100%;">
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 5%; padding-right: 5%">
              <h3>Manjaka Andriamasinoro</h3>
              <h1 class="display-4">Machine Learning Enthusiast & Web Development Hobbyist</h1>
              <p class="about-description">
                Hey there!<br>
                My name is Manjaka, I'm 21 and I come from Madagascar, but I'm currently living in Alexandria, Virginia. We're living in very exciting times. Simply put, I believe Machine Learning is the future, and it's going to revolutionize our lives in ways that we can't even think of yet. Even today, Machine Learning can already be used to help people in many different fields. I believe that we should use technology to solve problems, especially in places where people are struggling.<br>
                I want to develop Machine Learning applications and share them to world, for example by making websites like this one. This is my first project, but many more are coming! You can check on my progress by visiting my <a href="https://github.com/Manjaka97">GitHub page</a>, where I will put my future projects, along with this one. Feel free to email me, or send me a DM on LinkedIn or Facebook. My contacts are on the <a href="/">homepage</a> of this website (just scroll all the way down).<br>
                Until then, enjoy Machine Learning!
              </p>
          </div>
      </div>
  </div>
	
</body>
</html>