<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<style type="text/css">
		.jumbotron-fluid {
			background-image: url("/static/images/Jumbotron.jpg");
			background-size: cover;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-expand-md sticky-top">
		<a class="navbar-brand" href="/"><img src="/static/images/logo.png"></a>
  		<button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span><i class="fas fa-bars"></i></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
  			<ul class="navbar-nav ml-auto ">
  				<li class="nav-item">
  					<a href="/" class="nav-link">Home</a>
  				</li>
  				<li class="nav-item">
  					<a href="/test" class="nav-link">Test</a>
  				</li>
  				<li class="nav-item">
  					<a href="/pneumonia" class="nav-link">Pneumonia</a>
  				</li>
  				<li class="nav-item">
  					<a href="#" class="nav-link">Training Process</a>
  				</li>
  			</ul>
  		</div>
	</nav>
	<div class="container">
		<div id="accordion">
	  <div class="card">
	    <div class="card-header bg-dark" id="headingOne">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <h2 class="question">What is Pneumonia?</h2>
	        </button>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body">
	        Pneumonia is an inflammatory condition of the lung affecting primarily the small air sacs known as alveoli. Typically symptoms include some combination of productive or dry cough, chest pain, fever, and trouble breathing. Severity is variable.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header bg-dark" id="headingTwo">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          <h2 class="question">What causes Pneumonia?</h2>

	        </button>
	      </h5>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
	      <div class="card-body">
	        Pneumonia is usually caused by infection with viruses or bacteria and less commonly by other microorganisms, certain medications and conditions such as autoimmune diseases.[4][5] Risk factors include other lung diseases such as cystic fibrosis, COPD, and asthma, diabetes, heart failure, a history of smoking, a poor ability to cough such as following a stroke, or a weak immune system.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header bg-dark" id="headingThree">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          <h2 class="question">What are the treatments?</h2>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        Vaccines to prevent certain types of pneumonia are available. Other methods of prevention include handwashing and not smoking. Treatment depends on the underlying cause. Pneumonia believed to be due to bacteria is treated with antibiotics. If the pneumonia is severe, the affected person is generally hospitalized. Oxygen therapy may be used if oxygen levels are low.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header bg-dark" id="headingFour">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          <h2 class="question">Who are the most affected?</h2>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        Pneumonia affects approximately 450 million people globally (7% of the population) and results in about 4 million deaths per year. Pneumonia was regarded by William Osler in the 19th century as "the captain of the men of death". With the introduction of antibiotics and vaccines in the 20th century, survival improved. Nevertheless, in developing countries, and among the very old, the very young, and the chronically ill, pneumonia remains a leading cause of death. Pneumonia often shortens suffering among those already close to death and has thus been called "the old man's friend".
	      </div>
	    </div>
	  </div>
	</div>
</div>
<p><br>Source: <a href="https://en.wikipedia.org/wiki/Pneumonia">Wikipedia</a></p>
</body>
</html>